<h1 style="text-align: center;">About us</h1>
<p>We are student developers hoping to bring you the best Pokémon experience as possible. 
    On this site you'll find the option to scroll through the entire Pokémon library, checking their type and
    the ability to make/edit your own personal favourites list.</p> <br>
    <p>Considering the fact that more and more Pokémon get added thanks to the new game releases,
        it is possible that this list might be outdated in the near future. To combat this, 
        we're providing a contact form below so that the users of this site can notify us so that we can make the necessary changes.
        We want to thank everybody for their contributions!
    </p> <br>

<h2>Contact</h2>
