<div class="container-fluid mb-5">
<h1 style="margin-bottom: 1em;" class="text-center mt-3">About us</h1>
<div class="container">
    <p>We are student developers hoping to bring you the best Pokémon experience as possible.
        On this site you'll find the option to scroll through the entire Pokémon library, checking their type and
        the ability to make/edit your own personal favourites list.</p>
    <p>Considering the fact that more and more Pokémon get added thanks to the new game releases,
        it is possible that this list might be outdated in the near future. To combat this,
        we're providing a contact form below so that the users of this site can notify us so that we can make the
        necessary changes.
        We want to thank everybody for their contributions!
    </p>
</div>
<div class="container">
    <h2 style="margin-bottom: 2ch;" class="text-center">Contact</h2>
    <form name="contactform" method="post" action="send_form_email.php">
        <table width="450px">
            <tr>
                <td valign="top">
                    <label for="first_name">First Name *</label>
                </td>
                <td valign="top">
                    <input type="text" name="first_name" maxlength="50" size="30" #firstName>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="last_name">Last Name *</label>
                </td>
                <td valign="top">
                    <input type="text" name="last_name" maxlength="50" size="30" #lastName>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="email">Email Address *</label>
                </td>
                <td valign="top">
                    <input type="text" name="email" maxlength="80" size="30" #email>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="comments">Comments *</label>
                </td>
                <td valign="top">
                    <textarea name="comments" maxlength="1000" cols="25" rows="6" #comment></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <button type="button" class="btn btn-warning btn-lg" (click)="submitForm(firstName.value, lastname.value, email.value, comment.value)">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>