<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pokemon Database</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" routerLink="home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLink="favorites" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Favies</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLink="about" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">About</a>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div> 
  </div>