<div class="jumbotron jumbotron-fluid mb-0" id="top">
  <div class="container" style="opacity: 0.7">
    <h1 class="display-4 text-center">POKEDEX!</h1>
    <p class="lead text-center">Welcome to the Pokemon Database. Choose your favorite pokemon and add them to your favies.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 mt-3 ml-0">
      <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" routerLink="home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLink="favorites" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Favies</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLink="about" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">About</a>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div> 
  </div>