<span *ngFor="let pokemon of pokemon$ | async">
  <div *ngIf="pokemon.name == 'nidoran-m'" class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="PokemonPhoto + 'nidoranm' + end" alt="Card image cap">
    <div class="card-body text-center">
      <h2 class="card-text">{{pokemon.name}}</h2>
      <a (click)="addFavie(pokemon.name)" class="btn btn-warning">Add to favies!</a>
    </div>
  </div>
  <div *ngIf="pokemon.name == 'mr-mime'" class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="PokemonPhoto + 'mrmime' + end" alt="Card image cap">
    <div class="card-body text-center">
      <h2 class="card-text">{{pokemon.name}}</h2>
      <a (click)="addFavie(pokemon.name)" class="btn btn-warning">Add to favies!</a>
    </div>
  </div>
  <div *ngIf="pokemon.name !== 'nidoran-m' && pokemon.name !== 'mr-mime'" class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="PokemonPhoto + pokemon.name + end" alt="Card image cap">
    <div class="card-body text-center">
      <h2 class="card-text">{{pokemon.name}}</h2>
      <a (click)="addFavie(pokemon.name)" class="btn btn-warning">Add to favies!</a>

      <a (click)="getDetail(pokemon.url, pokemon.name)" class="btn btn-light">Toon details</a>

      <div *ngIf="check && currentPokemon == pokemon.name">
        <div *ngIf="(pokemonDetail$ | async) as detail">
          <p>
            ID: {{detail.id}} <br/>
            Height: {{detail.height}} <br/>
            Weight: {{detail.weight}} <br/>
            Base Experience: {{detail.base_experience}}
          </p>
        </div>
      </div>
    </div>
  </div>
</span>